{% extends "main.html.twig" %}

{% block header %}
<h1>Hallo Bram</h1>
    <div class="grid">
    {% for record in data %}
        <div class= "grid-item">
            <img src="{{ record.afbeelding }}" style="width: 100%; height: 250px;">

            <h2 class ="title"> {{record.titel}} </h2>
            {# sub-loop #}
            <ul>
                <div class = "container" style = "font-size: 12px"> {{record.korte_omschrijving}} </div>
                {% for ingr in record.ingredienten %}
                    <li>
                        <span {% if ingr.id < 2 %}style='color: #F00'{% endif %}>{{  ingr.naam }}</span>

                        {# if #}
                        {%  if ingr.id == 3 %}
                            <strong>Dit is ID 3!</strong>
                        {%  endif  %}
                    </li>
                {% endfor %}
                    <div class = "container">
                       <div class = "button-container"> Smullen! </div>
                       <div class = "text-container person">4</div>
                       <div class = "text-container euro"> {{record.prijs}} </div>
                       <div class = "text-container calories">{{record.calorieën}}</div>
                    </div>
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}