{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
	{# Dit is commentaar #}

	{# Loop #}
		<div class="grid"> {% for record in data %}
			<div class="grid-item">
				<img src="{{ record.afbeelding }}" style="width: 100%; height: 200px;">

				<div class="titlecontainer">
					<h2 class="title">
						{{record.titel}}
					</h2>
					<div class="titlecontainer">
						{% for i in range (1,5)%}
							{% if i <= record.rating %}
								<span class="filled-star" data-value="{{i}}"></span>
							{% else %}
								<span class="empty-star" data-value="{{i}}"></span>
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="details">
					<h3 class="keuken black">{{record.keuken}}</h3>
					<div class="details">
						<h3 class="type black">{{record.type}}</h3>
					</div>
				</div>

				<div class="container" style="font-size: 15px">
					{{record.korte_omschrijving}}
				</div>

				<div class="container">
					<div class="button-container">
						<a href="index.php?action=detail&gerecht_id={{record.ID}}">
							Smullen!
						</a>
					</div>
					<div class="container">
						<div class="text-container person">
							4</div>
						<div class="text-container euro">{{record.prijs}},-
						</div>
						<div class="text-container calories">
							{{record.calorieën}}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{# Dump #}
	<pre>
        
       </pre>
	{# {{ dump(data) }} #}

{% endblock %}
